/build/_atJar_4/accesstransform.log
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.12/checksums/checksums.lock
/.gradle/8.12/executionHistory/executionHistory.bin
/.gradle/8.12/executionHistory/executionHistory.lock
/.gradle/8.12/expanded/expanded.lock
/.gradle/file-system.probe
/.gradle/8.12/fileHashes/fileHashes.bin
/.gradle/8.12/fileHashes/fileHashes.lock
/.gradle/8.12/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.12/fileChanges/last-build.bin
/build/_applyBinpatches_2/log.txt
/build/_atJar_4/log.txt
/.gradle/8.12/checksums/md5-checksums.bin
/build/createSrgToMcp/output.srg
/build/extractSrg/output.srg
/build/createMcpToSrg/output.tsrg
/build/downloadMcpConfig/output.zip
/.gradle/buildOutputCleanup/outputFiles.bin
/build/_atJar_4/parent_at.cfg
/build/reports/problems/problems-report.html
/.gradle/8.12/checksums/sha1-checksums.bin
/build/_compileJava_3/mcp/client/Start.class
/build/tmp/.cache/expanded/zip_5e870e273495d47c65a130979e357e7c/mcp/client/Start.java
/build/downloadMCMeta/version.json
